.App {
  text-align: center;
}


.AllElement {
  position: relative;
  display: flex;
  width: 60%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 5px;
  margin: auto;
}
.item{
  margin: 5px;
  width: 45%;
  max-width: 200px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 20%;
}
.img{
  position: relative;
  top: 10px;
}